<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto" id="skills-content">
    <h2 class="mb-5">{{ i18n "skills" }}</h2>
    {{ range $.Site.Data.skills }}
        <div class="subheading mb-3 skills-heading">{{ .grouping }}</div>
            <ul>
            {{ range .skills }}
              <!-- TODO: refactor -->
              <li class="list-inline-item">
                {{ $icon := cond (in $.Site.Data.devicons (lower .icon)) (lower .icon) "code_badge" }}
                <i class="devicons devicons-{{ $icon }}"></i>
                {{ with .link }}
                  <a href="{{ . }}">{{ .name }}</a>
                {{ else }}
                  {{ .name }}
                {{ end }}
              </li>
            {{ end }}
            </ul>
    {{ end }}
  </div>
</section>
