h6
{
	background-color: var(--mainAccentColor);
	color: var(--sidenavTextColor);
}
.my-auto{
	min-width: 60%;
	padding-right: 20px;
}
.sidenav-right{
	background-color: var(--mainAccentColor);
	float: right;
	min-width: 230px;
	max-width: 30%;
	padding: 14px;
	color: var(--sidenavTextColor);
}

@media (max-width: 1222px){
	.sidenav-right{
		display: none;
	}
	.my-auto{
		min-width: 100%;
		max-width: 100%;
	}
}