<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="{{ .Scratch.Get "sectionId" }}">
  <div class="my-auto" id="projects-content">
    <h2 class="mb-5"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <p>{{ .Content }}</p>
    {{ $featuredPages := where .Pages "Params.featured" true }}
    {{ range $featuredPages }}
      {{ partial (printf "%s%s" .Section "Summary") . }}
    {{ end }}
  </div>
  {{ if gt .Pages $featuredPages }}
    <div class="my-auto">
      <h3>{{ i18n "wait-title" }}</h3>
      <p><a href="{{ .RelPermalink }}">{{ i18n "wait-desc" }}</a></p>
    </div>
  {{ end }}
</section>
